@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

/*
Mobile: 375px
Desktop: 1440px
  --bg-color: hsl(233, 11%, 84%);

  --veryDarkDesaturedBlue: hsl(235, 24%, 19%);
  --darkGrayishBlue2: hsl(234, 11%, 52%);
*/

:root {
	/* PRIMARY */
	--brightBlue: hsl(220, 98%, 61%);
	--checkBackgroundColor1: hsl(192, 100%, 67%);
	--checkBackgroundColor2: hsl(280, 87%, 65%);
	--checkBackgroundGradient: linear-gradient(
		to right,
		var(--checkBackgroundColor1),
		var(--checkBackgroundColor2)
	);
}

.lightTheme {
	--todoFont-color: hsl(235, 19%, 35%);
	--optionsHover-color: hsl(235, 19%, 35%);
	--completed-color: hsl(236, 33%, 92%);
	--option-color: hsl(236, 9%, 61%);
	--bg-color: hsl(0, 0%, 98%);
	--heading-color: hsl(0, 0%, 98%);
	--todoBackground-color: hsl(0, 0%, 98%);
}

.darkTheme {
	--todoFont-color: hsl(234, 39%, 85%);
	--optionsHover-color: hsl(236, 33%, 92%);
	--completed-color: hsl(233, 14%, 35%);
	--option-color: hsl(234, 11%, 52%);
	--bg-color: hsl(235, 21%, 11%);
	--heading-color: hsl(236, 33%, 92%);
	--todoBackground-color: hsl(237, 14%, 26%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans";
}

.app {
	position: relative;
}

.background {
	height: 100vh;
	width: 100vw;
	background-color: var(--bg-color);
	transition: all 0.3s ease-in-out;
}

.images {
	position: relative;
}

.images img {
	position: absolute;
	top: 0;
	transition: all 0.3s ease-in-out;
}

.container {
	width: min(530px, 90%);
	height: 650px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: none;
}

/* ------- HEADER  ------- */

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: max-content;
	padding: 2rem 0 2.5rem 0;
}

.header h1 {
	color: var(--heading-color);
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 22px;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.header button {
	position: absolute;
	right: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

/* ------- INPUT  ------- */

.newTodo {
	position: relative;
}

.checkBox {
	width: 1.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid var(--completed-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1.25rem;
	transition: border 0.3s ease-in-out;
}

.input {
	width: 100%;
	height: 3.5rem;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 0 4rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: var(--todoFont-color);
	background-color: var(--todoBackground-color);
	transition: background-color 0.3s ease-in-out;
}

.input::placeholder {
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: var(--option-color);
	transition: color 0.3s ease-in-out;
}

/* ------- TODOS  ------- */

.todosContainer {
	margin-top: 30px;
	-webkit-box-shadow: 0px 8px 22px 7px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 22px 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 22px 7px rgba(0, 0, 0, 0.15);
}

.todos {
	max-height: 448px;
	overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
	border-top-right-radius: 5px;
	background-color: var(--todoBackground-color);
}

::-webkit-scrollbar-thumb {
  background: var(--option-color);
}

.todo {
	width: 100%;
	background-color: var(--todoBackground-color);
	height: max-content;
	min-height: 3.5rem;
	color: var(--todoFont-color);
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 4rem;
	border-bottom: 1px solid var(--completed-color);
	cursor: pointer;
	transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.clickDiv {
	position: absolute;
	left: 0;
	height: 3.5rem;
	width: calc(100% - 3.5rem);
	height: 100%;
	z-index: 10;
	background-color: transparent;
}

.todo:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.todoCheckBox {
	width: 1.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--completed-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.todoCheckBoxInnerCircle {
	width: 1.2rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--todoBackground-color);
	transition: all 0.3s ease-in-out;
}

.todoCheckBox img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}

.todoText {
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 0.3rem;
	width: calc(100% - 3.5rem);
}

.todoText span {
	font-size: 1.2rem;
	line-height: 1.5rem;
	user-select: none;
	-webkit-user-select: none;
	transition: all 0.3s ease-in-out;
}

.cross {
	position: absolute;
	right: 0;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 100;
	height: 3.5rem;
	aspect-ratio: 1;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 1rem 0 1rem;
	height: 3rem;
	background-color: var(--todoBackground-color);
	transition: background-color 0.3s ease-in-out;
	font-size: 1rem;
	color: var(--option-color);
}

.options {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-left: 2rem;
	font-weight: 600;
}

.options li {
	list-style: none;
	font-weight: 700;
}

.footer button {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 1rem;
	color: var(--option-color);
	font-weight: 700;
}

.footer button:hover {
	color: var(--optionsHover-color);
}

.clearComplete {
	font-weight: 400 !important;
}

.active {
	color: var(--brightBlue) !important;
}
